@charset "utf-8";

/*    
   Filename: style.css
   Assignment 3 ISP465
*/

body {
	color: white;
	font-style: "Roboto, Arial, sans-serif";
}

.gridcontainer {
  display: grid;
  grid-column: 2;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  padding: 10px 5px;
  text-align: left;
}

.gridflex {
	display: flex;
	flex-direction: center;
	text-align: center;
	position: relative;
	height: 250px;
	width: auto;
	background-size: 100%;
	background-image: url(banner.jpg);
	background-repeat: no-repeat;
	margin-bottom: 15px;
	align-items: center;
	justify-content: space-around; 
}

fieldset {
	background-color: rgb(214, 234, 248);
}

legend {
	padding: 10px;
	background-color: #1c87c9;
}

label {
	color: black;
}


input[type="submit"],input[type="reset"] {
	background-color: #1abc9c;
	color: white;
	font-size: 16px;
	width: 150px;
	border-radius: 5px;
	border-style: none;
}

input:focus {
	border-style: solid;
	border-width: 2px;
	background-color: #43D1AF;
} 


.box {
	display: inline-block;
	float: right;
	border-radius: 8px;
	width: 100%
	margin-top: 5px;
}

